In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import os

In [ ]:
spark = SparkSession.builder.getOrCreate()
spark.sparkContext.setLogLevel("WARN")

#### Exercise 4.1
 Let’s take the following file, called sample.csv, which contains three columns:

 Item,Quantity,Price

 Banana, organic,1,0.99

 Pear,7,1.24

 Cake, chocolate,1,14.50

 Complete the following code to ingest the file successfully.
 
```python
sample = spark.read.csv([...],
                        sep=[...],
                        header=[...],
                        quote=[...],
                        inferSchema=[...]
)
```
(Note: If you want to test your code, sample.csv is available in the book’s repository under data/sample.csv/sample.csv).

In [ ]:
import os
csv_file_path = "/Users/u354769/Desktop/Ameya_Learning/DataAnalysisWithPythonAndPySpark/Book_Materials/Chapters/Chapter_4/Data/sample1.csv"
sample = spark.read.csv(csv_file_path,
                        sep=",",
                        header=True,
                        quote="$",
                        inferSchema=True)

sample.show()
sample.printSchema()

#### Exercise 4.2

What is the printed result of this code?

sample_frame.columns # => ['item', 'price', 'quantity', 'UPC']

print(sample_frame.drop('item', 'UPC', 'prices').columns)

a ['item' 'UPC']

b ['item', 'upc']

c ['price', 'quantity'] <--- Answer

d ['price', 'quantity', 'UPC']

e Raises an error

In [ ]:
#Exercise 4.3
# Reread the data in a logs_raw data frame (the data file is ./data/broadcast_logs- BroadcastLogs_2018_Q3_M8.CSV), 
# this time without passing any optional parameters. Print the first five rows of data, as well as the schema. 
# What are the differences in terms of data and schema between logs and logs_raw?

csv_file_path = "/Users/u354769/Desktop/Ameya_Learning/DataAnalysisWithPythonAndPySpark/Book_Materials/Chapters/Chapter_4/Data/BroadcastLogs_2018_Q3_M8.csv"
logs_raw = spark.read.csv(csv_file_path,
                        # sep=",",
                        # header=True,
                        # quote="$",
                        # inferSchema=True
                        )
logs_raw.show(5, False)

##ANSWER:
# Data for all columns crammed into one single column.
# Header name is defaulted to _c0
# timestamp format includes micro-seconds

In [ ]:
#Exercise 4.4
# Create a new data frame, logs_clean, that contains only the columns that do not end with ID.

logs = spark.read.csv(csv_file_path
                        , sep = "|"
                        , header = True
                        , inferSchema = True
                        , timestampFormat="yyyy-MM-dd",
                        )
logs_clean = logs.select(
    *[x for x in logs.columns if "ID" in x]
).show(5, False)

In [1]:
# Load the Titanic dataset) into a dataframe. Filter the rows and columns in some manner, and write the result to a parquet file. 
# Read the parquet file back in to verify everything worked as you'd expect.



csv_file_path = "/Users/u354769/Desktop/Ameya_Learning/DataAnalysisWithPythonAndPySpark/Book_Materials/Chapters/Chapter_4/Data/titanic.csv"


titanic_df = spark.read.csv(csv_file_path
                        , sep = ","
                        , header = True
                        , inferSchema = True
                )
titanic_df.show(5, False)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/06/13 08:32:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22.0|1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38.0|1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                             |female|26.0|0    |0    |STON/O2. 3101282|7.925  |null |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)       |female|35.0|1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                           |male  |35.0|0    |0    |373450          |8.05   |null |S       |
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [3]:
# Writing as parquet file
parquet_write_path = "/Users/u354769/Desktop/Ameya_Learning/DataAnalysisWithPythonAndPySpark/Book_Materials/Chapters/Chapter_4/Data/titanic_df.parquet"
titanic_df.write.parquet(parquet_write_path)

In [4]:
# Reading the titanic_df parquet file
titanic_df_parquet = spark.read.parquet(parquet_write_path)
titanic_df_parquet.show(5, False)

+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|Name                                               |Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
|1          |0       |3     |Braund, Mr. Owen Harris                            |male  |22.0|1    |0    |A/5 21171       |7.25   |null |S       |
|2          |1       |1     |Cumings, Mrs. John Bradley (Florence Briggs Thayer)|female|38.0|1    |0    |PC 17599        |71.2833|C85  |C       |
|3          |1       |3     |Heikkinen, Miss. Laina                             |female|26.0|0    |0    |STON/O2. 3101282|7.925  |null |S       |
|4          |1       |1     |Futrelle, Mrs. Jacques Heath (Lily May Peel)       |female|35.0|1    |0    |113803          |53.1   |C123 |S       |
|5          |0       |3     |Allen, Mr. William Henry                           |male  |35.0|0    |0    |373450          |8.05   |null |S       |
+-----------+--------+------+---------------------------------------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [9]:
# Create a query that calculates the 1st-99th percentiles of the Fare column in the Titanic dataset.

percentile_list =["1%",	"2%",	"3%",	"4%",	"5%",	"6%",	"7%",	"8%",	"9%",	"10%",	"11%",	"12%",	"13%",	"14%",	"15%",	"16%",	"17%",	"18%",	"19%",	"20%",	"21%",	"22%",	"23%",	"24%",	"25%",	"26%",	"27%",	"28%",	"29%",	"30%",	"31%",	"32%",	"33%",	"34%",	"35%",	"36%",	"37%",	"38%",	"39%",	"40%",	"41%",	"42%",	"43%",	"44%",	"45%",	"46%",	"47%",	"48%",	"49%",	"50%",	"51%",	"52%",	"53%",	"54%",	"55%",	"56%",	"57%",	"58%",	"59%",	"60%",	"61%",	"62%",	"63%",	"64%",	"65%",	"66%",	"67%",	"68%",	"69%",	"70%",	"71%",	"72%",	"73%",	"74%",	"75%",	"76%",	"77%",	"78%",	"79%",	"80%",	"81%",	"82%",	"83%",	"84%",	"85%",	"86%",	"87%",	"88%",	"89%",	"90%",	"91%",	"92%",	"93%",	"94%",	"95%",	"96%",	"97%",	"98%",	"99%"]
titanic_df.select("Fare").summary(percentile_list).show(99)

+-------+--------+
|summary|    Fare|
+-------+--------+
|     1%|     0.0|
|     2%|  6.2375|
|     3%|   6.975|
|     4%|    7.05|
|     5%|   7.225|
|     6%|   7.225|
|     7%|  7.2292|
|     8%|    7.25|
|     9%|    7.25|
|    10%|    7.55|
|    11%|  7.7292|
|    12%|    7.75|
|    13%|    7.75|
|    14%|    7.75|
|    15%|    7.75|
|    16%|   7.775|
|    17%|   7.775|
|    18%|  7.7958|
|    19%|  7.8542|
|    20%|  7.8542|
|    21%|  7.8958|
|    22%|  7.8958|
|    23%|  7.8958|
|    24%|  7.8958|
|    25%|  7.8958|
|    26%|   7.925|
|    27%|   7.925|
|    28%|    8.05|
|    29%|    8.05|
|    30%|    8.05|
|    31%|    8.05|
|    32%|  8.1125|
|    33%|  8.6542|
|    34%|  8.6625|
|    35%|     9.0|
|    36%|     9.5|
|    37%|  9.5875|
|    38%| 10.4625|
|    39%|    10.5|
|    40%|    10.5|
|    41%| 11.1333|
|    42%|  12.275|
|    43%|  12.525|
|    44%|    13.0|
|    45%|    13.0|
|    46%|    13.0|
|    47%|    13.0|
|    48%|    13.0|
|    49%|    14.0|
|    50%| 14.4542|
|    51%|    14.5|
|    52%| 15.2458|
|    53%|    15.5|
|    54%|   15.85|
|    55%|    16.1|
|    56%|    17.8|
|    57%| 19.2583|
|    58%| 20.2125|
|    59%|    21.0|
|    60%| 21.6792|
|    61%|   23.25|
|    62%|   24.15|
|    63%| 25.5875|
|    64%|    26.0|
|    65%|    26.0|
|    66%|    26.0|
|    67%|   26.25|
|    68%| 26.2875|
|    69%|   26.55|
|    70%|    27.0|
|    71%|   27.75|
|    72%|    29.0|
|    73%|    29.7|
|    74%|    30.5|
|    75%|    31.0|
|    76%| 31.3875|
|    77%| 34.0208|
|    78%|    35.5|
|    79%|    39.0|
|    80%| 39.6875|
|    81%|    46.9|
|    82%|    50.0|
|    83%|    52.0|
|    84%|    53.1|
|    85%| 56.4958|
|    86%| 57.9792|
|    87%|    66.6|
|    88%|   69.55|
|    89%|    73.5|
|    90%| 77.9583|
|    91%|    79.2|
|    92%| 82.1708|
|    93%| 89.1042|
|    94%|    93.5|
|    95%| 113.275|
|    96%|   134.5|
|    97%|  151.55|
|    98%|211.3375|
|    99%| 262.375|
+-------+--------+